@import "colors";
@import "spacing";
@import "radius";
@import "typography";

html,
body {
  @include text-preset-4;

  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--color-neutral-300);
  background-color: var(--color-neutral-900);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
