@import "@/styles/utils";
@import "@/styles/typography";

.button {
  @include text-preset-5-extra-bold;

  width: 100%;
  height: 54px;
  color: var(--color-neutral-900);
  background-color: var(--color-orange-500);
  padding: var(--spacing-200, 16px) var(--spacing-300, 24px);
  border-radius: var(--radius-12, 12px);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:hover {
    @include hover-pointer-fine {
      background-color: var(--color-orange-700);
      box-shadow: 0 4px 0 0 var(--color-orange-500);
    }
  }

  &:focus {
    background-color: var(--color-orange-500);
    outline-offset: 3px;
    outline: var(--color-neutral-000) solid 1px;
    box-shadow: none;
  }
}
